* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}

.register {
  max-width: 1300px;
  max-height: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 12px;
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px black solid;
}

.navigation {
  display: flex;
}

.list_navigation {
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.link_navigation {
  color: #1f1f1f;
  transition: all 0.5s ease;
}

.link_navigation:hover {
  color: #707070;
}

.form__auth_register {
  padding: 6px 4px;
  border: #1f1f1f solid 1px;
}

.form__auth_login {
  padding: 6px 4px;
  border: #1f1f1f solid 1px;
  background-color: #1f1f1f;
  color: #f8f8f8;
}

.form__auth_login-link {
  color: #f8f8f8;
}
